@model RestaurantApp.Models.ViewModels.MenuViewModel<List<RestaurantApp.Models.Menu>>

<div class="menuModal animationOpacity" id="MenuDialog" style="display: @(ViewBag.Open ?? "none")">    
    <div class="modalContent">
        <i class="fa fa-remove menu-right closeIcon"></i>
        <form asp-action="@Model.DialogActions" method="post">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <h3>@Model.DialogTitle</h3>
               @if (Model != null && Model.Content != null)
                 {
                   @Html.Raw(Model.Content(Model))
                  }
            
           <hr />
             <button type="submit" class="btn btn-success">@Model.DialogActions</button>
             <button class="btn btn-light"><a asp-action="Index" method="get" style="text-decoration:none">Back to List</a></button>
        </form>
    </div>
</div>