@model RestaurantApp.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IBAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IBAN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Orders)
        </dt>
        <dd class="col-sm-2">
            <table class="table">
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Rate</th>
                </tr>
                @foreach(var item in Model.Orders)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rate)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
